<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">
  <h3><strong>Title:</strong>
  <%= @article.title %></h3>
</div>

<div class="panel-body"
<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>
	<% if @user = current_user %>
<%= link_to 'Edit', edit_article_path(@article) %> |
	<%end%>
<%= link_to 'Back', articles_path %>
</div>
</div>

